@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
}

$crimson: crimson;
$black: #000;
$lightbg: #1a1a1a;
$white: #fff;
$light-color: #aaa;
$box-shadwo: 0.5rem 1rem rgba(0, 0, 0, 0.7);
$lighter: #434343;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: $crimson;
    border-radius: 5rem;
  }
}

body {
  background: $black;
  padding-bottom: 6.5rem;
}

section {
  padding: 5rem 9%;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: flex-end;

  a {
    padding: 2rem;
    font-size: 2rem;
    background: $lightbg;
    flex: 1;
    color: $white;
    text-align: center;
    transition: 0.2s linear;

    i {
      color: $crimson;
      padding: 0.5rem;
    }

    &:hover {
      background: $crimson;
      padding-bottom: 5rem;

      i {
        color: $black;
      }
    }
  }
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  min-height: calc(100vh - 6.5rem);

  .image {
    flex: 1 1 18rem;
    text-align: center;

    img {
      height: 50rem;
      width: 50rem;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  .content {
    flex: 1 1 42rem;

    h3 {
      color: $white;
      font-size: 4rem;
      padding-bottom: 0.5rem;
    }

    span {
      color: $crimson;
      font-size: 2rem;
      padding: 0.5rem 0;
      display: block;
    }

    p {
      font-size: 1.3rem;
      color: $white;
      line-height: 2.5rem;
      margin-bottom: 1.5rem;
      padding: 2rem 2rem 2rem 0;
    }
  }
}

// about
.heading {
  text-align: center;
  font-size: 5vw;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 3rem;

  span {
    color: $crimson;
    text-transform: uppercase;
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: $crimson;
  padding: 0.7rem;
  font-size: 1.7rem;
  color: $white;
  padding-left: 2rem;

  i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: $white;
    color: $crimson;
    border-radius: 50%;
    margin-left: 1rem;
    transition: 0.2s linear;
  }

  &:hover i {
    margin-left: 2rem;
  }
}

.about {
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .info-container {
      flex: 1 1 52rem;

      h1 {
        font-size: 3rem;
        color: $white;
        text-transform: uppercase;
        padding-bottom: 1rem;
      }

      .box-container {
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .box {
          flex: 1 1 30rem;

          h3 {
            font-size: 1.7rem;
            color: $white;
            padding: 1rem 0;
            font-weight: normal;

            span {
              color: $light-color;
              font-weight: lighter;
            }
          }
        }
      }
    }

    .count-container {
      flex: 1 1 32rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .box {
        flex: 1 1 20rem;
        padding: 3rem 4rem;
        border-radius: 0.5rem;
        background: $lightbg;
        box-shadow: $box-shadwo;

        h3 {
          font-size: 5rem;
          color: $crimson;
        }

        p {
          font-size: 2rem;
          color: $light-color;
        }
      }
    }
  }
}

// Skill
.skill {
  .box-container {
    @include grid(16rem);

    .box {
      padding: 2rem;
      text-align: center;
      background: $lighter;
      border-radius: 0.5rem;
      box-shadow: $box-shadwo;

      &:hover {
        background: $white;
        p {
          color: $black;
        }
      }

      img {
        height: 7rem;
        margin-bottom: 1rem;
      }

      p {
        color: $white;
        font-size: 1.7rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}

// Education
.education {
  .box-container {
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 1 1 40rem;
      position: relative;
      margin-left: 2rem;
      padding: 2rem;
      padding-left: 3.5rem;
      padding-bottom: 2rem;
      border-left: 1px solid $light-color;

      i {
        position: absolute;
        background: $crimson;
        color: $white;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        font-size: 1.7rem;
        line-height: 4rem;
        text-align: center;
        top: 0.5rem;
        left: -2rem;
      }

      span {
        color: $white;
        font-size: 1.4rem;
        background: $lighter;
        padding: 0.5rem 1.5rem;
        border-radius: 5rem;
      }

      h3 {
        font-size: 1.7rem;
        color: $white;
        padding: 1rem 0;
        font-weight: normal;
        padding-top: 2rem;
      }

      p {
        font-size: 1.2rem;
        color: $white;
        font-size: normal;
      }
    }
  }
}

// portofolio

.portofolio {
  text-align: center;
  .box-container {
    @include grid(31rem);

    .box {
      height: 40rem;
      overflow: hidden;
      position: relative;

      &:hover .content {
        transform: translateY(0);
      }
      .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $lightbg;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        transition: 0.2s linear;

        h3 {
          font-size: 2.5rem;
          text-transform: uppercase;
          color: $white;
          padding: 2rem;
        }

        p {
          font-size: 1.5rem;
          color: $white;
          line-height: 2;
          padding: 2rem;
        }
      }
    }
  }

  a {
    font-size: 2rem;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin-top: 4rem;
    &:hover {
      color: $white;
    }
  }
}

// Blog
.blog {
  .box-container {
    @include grid(31rem);

    &:hover .img img {
      transform: scale(1.2);
    }
    .box {
      padding: 2rem 0;
      text-align: center;
      border-radius: 2rem;
      background-color: $lightbg;
      box-shadow: $box-shadwo;

      .image {
        height: 25rem;
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: 0.2s linear;
        }
      }

      .content {
        .icons {
          position: relative;
          top: -1rem;
          border-radius: 0.5rem;
          padding: 1.5rem;
          display: inline-block;
          background: $black;

          a {
            font-size: 1.4rem;
            margin: 0 1rem;
            color: $white;

            &:hover {
              color: $white;
            }

            i {
              padding-right: 0.5rem;
              color: $crimson;
            }
          }
        }
        h3 {
          font-size: 2rem;
          color: $white;
        }

        p {
          font-size: 1.5rem;
          color: $light-color;
          padding: 1rem 0;
          line-height: 2;
        }
      }
    }
  }
}

// contact
.contact {
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .info-container {
      width: 50rem;

      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: $white;
        padding-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 1.5;
        color: $light-color;
        padding: 1rem 0;
      }

      .box-container {
        padding: 1rem 0;

        .box {
          display: flex;
          gap: 2rem;

          i {
            font-size: 4rem;
            color: $crimson;
            padding-top: 0.5rem;
          }

          h3 {
            font-size: 2rem;
            color: $white;
          }
        }
      }

      .share {
        a {
          img {
            width: 40px;
            height: 40px;
            margin: 10px 10px 0px 10px;
          }

          //   font-size: 2rem;
          //   height: 4, 5rem;
          //   width: 4.5rem;
          //   line-height: 4.5rem;
          //   border-radius: 50%;
          //   background: $lightbg;
          //   color: $white;
          //   margin-right: 0.3rem;
          //   text-align: center;

          &:hover {
            background: $crimson;
          }
        }
      }
    }

    form {
      flex: 1 1 42rem;

      .inputbox {
        display: flex;
        gap: 2rem;
      }

      input {
        width: 49%;
      }

      .inputbox input,
      textarea {
        padding: 1.2rem 1.8rem;
        border-radius: 0.5rem;
        color: $white;
        font-size: 1.5rem;
        text-transform: none;
        margin: 0.7rem 0;
        background: $lightbg;
      }

      textarea {
        width: 100%;
        border-radius: 1rem;
        resize: none;
        height: 25rem;
      }

      .btn {
        padding: 1rem 3rem;
        margin-top: 2rem;
        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
  }
}

// Media Queries

@media (max-width: 1200px) {
  section {
    padding: 3rem 2rem;
  }

  html {
    font-size: 55%;
  }

  .home {
    text-align: center;

    p {
      padding: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    a {
      i {
        padding-bottom: 0;
      }

      span {
        display: none;
      }

      &:hover {
        padding-bottom: 2rem;
      }
    }
  }

  .home {
    text-align: center;
    gap: 2rem;

    .image img {
      height: 40rem;
      width: 40rem;
    }

    .content {
      h3 {
        font-size: 3rem;
      }

      span {
        font-size: 2rem;
      }

      p {
        padding: 2rem;
      }
    }
  }

  .heading {
    font-size: 10vw;

    span {
      font-size: 10vw;
    }
  }

  .contact .row form .inputbox input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home {
    gap: 1rem;

    .image img {
      height: 35rem;
      width: 35rem;
    }

    p {
      padding: 2rem;
    }
  }
}
